/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh; /* allows it to stretch larger than height of the screen */
    display: flex;
    flex-direction: column; /* elements will stack on top of one another */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* Header */
header {
    background-color: #ffffff; 
    padding: 0 1rem; /* prevent text from sticking to side of scrren */
    position: fixed; /* want nav bar to scroll along */
    z-index:99; /* make sure it's layered on top of other elements */
    width: 100%; /* fills width of screen */
    box-shadow: 0 2px 2px #3a3a3a; /* indicates layers */
    /* The following aligns burger icon & navbar */
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* show in a line vertically */
}

/* for any a tag, descendant of header */
header a {
    text-decoration: none;
    color: inherit; /* will inherit from body */
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; /* breathing space between letters */
    color: #252525;
}

/* Navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em; /* spacing between nav items */
}

.active {
    border-bottom: 1px solid #3a3a3a; /* visual cue to show user what page they're on */
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute; /* takes an element outside normal flow; positioned relative to nearest ancestor */
    background-color: #ffffff; /* give same background colour so it looks like single object when opened */
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* keeps nav bar elements hidden until clicked */
    top: 100%; /* tells nav element the top o fthe element should start at the bottom of its parent */
}

/* Nav toggle */
/* 
* Using a checkbox with pseudo class that indicates when they are checked
* ~ indicates we want to target  adjoining nav element
*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none; /* hides checkbox */
}

.nav-toggle-label{
    font-size: 2rem; /* enlargen label so it's easy to tap */
}
    
/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /* header position is fixed; margin-top allows us to see main content */
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/love-running-hero-image.webp") no-repeat center center/cover;
}

/* Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    /* Header */
    nav {
        display: block; /* ensures nav bar is always displayed */
        position: relative; /* Keeps it insdie the header */
        box-shadow: none; /* no longer needed */
        width: fit-content; /* no longer takes up all space in header */
        padding-right: 1rem; /* so menu items are not on edge of screen */
    }

    #menu {
        display: flex; /* links all show in a row */
    }

    #menu > li {
        padding-left: 1rem; /* giving space */
    }

    .nav-toggle-label {
        display: none; /* hide checkbox */
    }
    
    /* Make bigger impact for size */
    #logo {
        font-size: 280%; /* more space available */
        line-height: 75px; /* more space at top */
        margin: 0 0.5rem; /* margin space left & right */
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px; /* bigger than the mobile size we put in */
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a; /* line appears under hovered item */
    }
}